td.baza-table-alarm {
   background-color: #ff7040;
   font-size: 0.8em;
   vertical-align: middle;
   text-align: center;
   color: #000000;
}
td.baza-table-niedotyczy {
   background-color: #c4c4c4;
   font-size: 0.8em;
   vertical-align: middle;
   text-align: center;
   color: #000000;
}
td.baza-table-close {
   background-color: #c2c2c2;
   font-size: 0.8em;
   vertical-align: middle;
   text-align: center;
   color: #969696;
}
td.baza-table-done {
   background-color: #69f03c;
   font-size: 0.8em;
   vertical-align: middle;
   text-align: center;
   color: #000000;
}

td.baza-table {
   /*background-color: #e5f2fa;*/
   background-color: transparent;
   font-size: 0.8em;
   vertical-align: middle;
   text-align: center;
   color: #000000;
}

td.status {
   background-image: url(../images/pdf_grey.png);
   background-repeat: no-repeat;
   background-size: contain;
   width: 48px;
   height: 48px;
   display:block;
   margin: auto;
}

